{% load bootstrap3 %}
<div class="navbar navbar-default navbar-fixed-top" id="main-nav">
      <div class="container desktop">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Neighbourhood-Delivery</a>
            <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
      {% if request.user.is_authenticated %}
          <li>
              <a href="/buyer/"><i class="fa fa-home " aria-hidden="true"></i></a>
          </li>
          <li>
              <a href="{% url 'buyer:profile' request.user.username %}"><i class="fa fa-user " aria-hidden="true"></i></a>
          </li>
          {% else %}
      <li><a href="/accounts/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
    </ul>
  </div>
</nav>
