{% extends 'base.html' %}
{% block content %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body>

<style>
/* About Section */

.section-title h2 {
	margin-bottom: 60px;
}
img.img-circle.team-img {
	width: 280px;
	height: 220px;
	border: 4px solid transparent;
	transition: all 0.5s;
}
#team-section .team .thumbnail:hover>img.img-circle.team-img {
	border: 6px solid #ADD8E6;
	font-size: medium;
}
#team-section .thumbnail {
	background: transparent;
	border: 0;
}
#team-section .thumbnail .caption {
	padding: 20px;
}
</style>

  <!-- About Section -->
  <div id="about-section">
    <div class="container">
      <div class="section-title text-center center">
        <h2 style="font-family: 'Pacifico', cursive;color:#1cd2f9;font-size:50px;">About Us</h2>
        <hr>
        <div class="clearfix"></div>
        <p style="font-family: 'Song Myung', serif;>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
      </div>
      <div class="row">
        <div class="col-md-6">
           <img src="/static/images/post3.png" class="img-responsive">
         </div>
        <div class="col-md-6">
          <div class="about-text">
            <h4><strong>Who We Are</strong></h4>
            <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>
            <h4><strong>What We Do</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>
            <h4><strong>Why Choose Us</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at.</p>
          </div>
      </div>
    </div>
  </div>
</div>
  <br>
  <br>
  <br>
  <br>
  <!-- Team Section -->
<div id="team-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2 style="font-family: 'Pacifico', cursive;color:#1cd2f9;font-size:50px;">Meet the Team</h2>
      <hr>
    </div>
    <div id="row">
      <div class="col-md-4 col-sm-6 team">
        <div class="thumbnail"> <img src="/static/images/profpic.png" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>ENOCK OMONDI</h3>
            <p>Software Engineer</p>
            <p>I believe todays problem will be solved through <br>Technology thats why i built world
            class software to change the lives of people around me  </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 team">
        <div class="thumbnail"> <img src="/static/images/mark6.jpg"alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Mark Murimi</h3>
            <p>Software Engineer</p>
            <p> I love front end design, I give you the best  user experience</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 team">
        <div class="thumbnail"> <img src="/static/images/garvin6.JPG" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Garvin Ogolla</h3>
            <p>Software Engineer</p>
            <p>I want to build systems that are simple yet complex!! Ilove backend design </p>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
  {% endblock %}
