{% extends 'base.html' %}
{% block content %}
        <head>
          <title>Bootstrap Example</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <style>
          .parent{
            position: relative;
          }
          .over-img{
            position: absolute;
            top: 80%;
            left: 20%;
          }
          .fasts{

border-color: white;
border-style: solid;
border-width: 18px;
border-radius: 5px;
}
        </style>
        <body style="background-image:url('https://images.pexels.com/photos/301378/pexels-photo-301378.jpeg?auto=compress&cs=tinysrgb&h=350');">
        <div class="container-fluid" style="margin-top:-1.4%;"> 
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="https://images.pexels.com/photos/250696/pexels-photo-250696.jpeg?auto=compress&cs=tinysrgb&h=350" style="height:650px;width:200vh;">
              </div>
              <div class="item">
                <img src="static/images/maziwa.jpeg"style="height:650px;width:200vh;">
              </div>
              <div class="item">
                <img src="static/images/maziwa.jpeg"style="height:650px;width:200vh;">
              </div>
              
            </div>
          </div>
        </div>
        <div class="container-fluid" style="padding:3%;" >
            <div class="row">
                <div class="col-md-6 bg-1">
                    <div class="fasts">
                        <img src="static/images/milk.jpeg"  class="img-responsive" style="display:inline" alt="fastfood" width="" height="">
                    </div>
                </div>
                <div style="background-color:white;" class="col-md-6 bg-1">
                    <div id="text1">
                        <h1>Buyer.</h1>
                        <p>Data Structures are the programmatic way of storing data so that data can be used
                        efficiently. Almost every enterprise application uses various types of data structures in one
                        or the other way.Data Structures are the programmatic way of storing data so that data can be usedefficiently. Almost every enterprise application uses various types of data structures in one or the other way.Data Structures are the programmatic way of storing data so that data can be usedefficiently. Almost every enterprise application uses various types of data structures in one or the other way.</p>
                        <br/><br/><br/>
                        <a href="#"><button class="button button1">Sign Up &#8594;</button></a>
                    </div>
                </div>
            </div>
        </div>
        </body>
{% endblock %}
