<style>
  .nav{
    border:0.2px solid #ccc;
    border-width:1px 0;
   
    padding:15px;
}
</style>
<body>
<nav style="background-image:url('https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&h=350');font-size:16px;"class="navbar navbar-default">
    <div style="text-align: center;" class="navbar-header">
      <h1 style="font-family: 'Pacifico', cursive;color: white;font-size:50px;">Neighbourhood Milk<br> Delivery!</h1>
    </div>
<div class="navbar-right">
  <ul  class="nav">
    <li><a href="/index">Home</a></li>
    <li><a href="/about/">About Us</a></li>
    <li><a href="/work">How It Works</a></li>
    <li><a href="/contact/">Contact Us</a></li>
    <li><a href="/accounts/login">Log Out</a></li>
  </ul>
</div>
</nav>
</body>