<style>
  .nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Neigbourhood-Delivery</a>
    </div>
<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="/How It Works/">How It Works</a></li>
  <li><a href="/Our services/">Our services</a></li>
  <li><a href="/contact/">Contact</a></li>
</ul>
</div>
</nav>
