<style>
  .nav{
    border:0.2px solid #ccc;
    border-width:1px 0;

    padding:15px;
}
</style>
<body>
<nav style="background-image:url('https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&h=350');font-size:16px;"class="navbar navbar-default">
    <div style="text-align: center;" class="navbar-header">
      <h1 style="font-family: 'Pacifico', cursive;color: white;font-size:50px;">Neighbourhood Milk<br> Delivery!</h1>
    </div>
<div class="navbar-right">
  <ul  class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About Us</a></li>
    <li><a href="/How It Works/">How It Works</a></li>
    <li><a href="/contact/">Our Story</a></li>
  </ul>
</div>
<div id="navbar-main" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav ">
              {% if request.user.is_authenticated %}
                  <li><a class="navbar-brand" href="/vendor/">Sign In as a Vendor</a></li>
                  <li><a class="navbar-brand" href="/buyer/">Sign In as a Buyer</a></li>
                  <li><a class="navbar-brand" href="/logout"><i class="fa fa-sign-out " aria-hidden="true"></i>logout</a></li>
              {% else %}
                  <li><a href="/accounts/login">Login</a></li>
                  <li><a href="/accounts/register/">Signup</a></li>
              {% endif %}
          </ul>
      </div>
</nav>
</body>
