{% extends 'base2.html' %}
{% block content %}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .button {
font-family: 'Pacifico', cursive;
border: none;
color: #F15A29;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
}

.button1 {
background-color: white;
color: #F15A29;
border: 2px solid #F15A29;
}
</style>
<body style="background-image:url('https://images.pexels.com/photos/347139/pexels-photo-347139.jpeg?auto=compress&cs=tinysrgb&h=350');padding-top:10%;background-size:cover;">
    <div style="text-align:center;padding:5%;padding-top:2%;background-color: whitesmoke;opacity:0.7;border-radius:20px;" class="container">
        <h1 style="font-family:  'Pacifico', cursive;font-size:60px;text-decoration:underline;" >Neighbourhood Milk <br>Delivery!</h1>
        <h1 style="font-family: 'Song Myung', serif;font-size:40px;">Choose your desired payment plan!</h1>
        <a href="/buyer/message"><button class="button button1">Cash On Delivery.</button></a>
        <a href=""><button class="button button1">Mpesa.</button></a>

    </div>
</body>

{% endblock %}
